body {
    /* adding font color as hex code */
    color: #39a6b2;
    font-family: Helvetica, Arial, sans-serif;
}

header {
    /* applying styles to <header> tag */
    padding: 20px 35px;
    background-color: #39a6b2;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
}

header a {
    color: #fce138;
}

